<!DOCTYPE html>
<html ng-app="aluguelModule">
<head>
<meta-charset="utf-8">
<title>Aluguel</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script src="js/angular.min.js"></script> <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> <script
	src="control/aluguelControl.js"></script>
</head>
<body ng-controller="aluguelControl">
	<div ng-include="'menu.html'"></div>
	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Aluguéis</div>
		<div class="panel-body">
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#cadastro"
						aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
					</li>
					<li role="presentation"><a href="#dados" aria-controls="dados"
						role="tab" data-toggle="tab">Dados</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="cadastro">

						<form name="aluguelForm" class="css-form"
							ng-submit="aluguelForm.$valid && salvar()" novalidate>

							<br> <span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
							<div ng-show="aluguelForm.$submitted">
								<div ng-show="aluguelForm.diario.$error.required">O campo valor diário é obrigatório.</div>
								<div ng-show="aluguelForm.mensal.$error.required">O campo valor mensal é obrigatório.</div>
								<div ng-show="aluguelForm.anual.$error.required">O campo valor anual é obrigatório.</div>

							</div>
							<br>
							<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
							<button type="submit" class="btn btn-success">Salvar</button>
							<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
							<button type="button" class="btn btn-warning"
								ng-click="pesquisar()">Pesquisar</button>
							<hr />

							<div class="form-group col-md-2">
								<label for="exampleInputCodigo">Codigo</label> <input
									type="number" disabled="true" class="form-control"
									ng-model="aluguel.codigo" placeholder="Codigo">
							</div>
					  	
					  	
							<div class="form-group col-md-3">
								<label for="exampleInputEndereco">Valor Anual</label> <input
									type="text" class="form-control" ng-model="aluguel.anual"
									name="anual" placeholder="Insira o Valor Anual do Aluguel"
									required="">
							</div>


							<div class="form-group col-md-3">
								<label for="exampleInputEndereco">Valor Diário</label> <input
									type="text" class="form-control" ng-model="aluguel.diario"
									placeholder="Insira o Valor Diário do Aluguel" name="diario"
									required="">
							</div>

							<div class="form-group col-md-3">
								<label for="exampleInputCidade">Valor Mensal</label> <input
									type="text" class="form-control" ng-model="aluguel.mensal"
									placeholder="Insira o Valor Mensal do Aluguel" name="mensal"
									required="">
							</div>

							<div class="form-group col-md-2">
								<label for="exampleInputCep">Código do Cliente</label> <input
									type="text" type="number" disabled="true" class="form-control"
									ng-model="aluguel.cliente.codigo"
									placeholder="Codigo do Cliente">
							</div>

						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="dados">
						<br> <input type="text" class="form-control"
							ng-model="criterio" placeholder="O que voce esta procurando?" /><br>
						<table class="table table-hover">
							<th>Codigo</th>
							<th>Valor Anual</th>
							<th>Valor Diário</th>
							<th>Valor Mensal</th>
							<th>Código do Cliente</th>


							<tr ng-repeat="aluguelTabela in alugueis | filter:criterio"
								ng-click="seleciona(aluguelTabela);">
								<td>{{aluguelTabela.codigo}}</td>
								<td>{{aluguelTabela.anual}}</td>
								<td>{{aluguelTabela.diario}}</td>
								<td>{{aluguelTabela.mensal}}</td>
								<td>{{aluguelTabela.cliente.codigo}}</td>

							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>